body {
    height: 100vh;
    width: 100vw;
    background-color: white;
    margin: 0;
    overflow: auto;
    box-sizing: border-box;
}
body.menu-open {
    height: 100vh;
    width: 100%;
    max-width: 1531px;
    background-color: white;
    margin: 0;
    overflow: auto;
    overflow-x: hidden; /* Ẩn thanh cuộn ngang */
    box-sizing: border-box;
}

.header {
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%; /* Thay 100vw bằng 100% */
    height: 70px;
    border-bottom: 1px solid #C57F7F;
    margin-bottom: 30px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: white;
}

* {
    box-sizing: border-box;
}

.main {
    width: 100vw;
    font-family: 'Dancing Script', cursive;
    box-sizing: border-box;
    margin: 0;
}
.nav-button {
    background-color: transparent;  /* Nền trong suốt */
    border: none;
    font-size: 30px;  /* Kích thước dấu < và > */
    color: black;  /* Màu dấu */
    cursor: pointer;
    transition: color 0.3s;
}

.nav-button:hover {
    color: #7c1f1f;  /* Màu khi hover */
}

.nav-button:focus {
    outline: none;
}
#monthYear {
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
    width: 120px;

}

.text {
    width: 1300px;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}
.icon {
    color: black;
    margin-right: 30px;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    transition: transform 0.3s ease, color 0.3s ease;
}
.item :hover { /* icon:hover */
    color: #7c1f1f;
    transform: scale(1.3); 
}
.choice_icon {
    color: #7c1f1f;
    margin-right: 30px;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
}
.link {
    text-decoration: none; /* Xóa gạch chân */
    color: black;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    margin: 0px 20px;
    transition: transform 0.3s ease, color 0.3s ease; /* Thêm hiệu ứng mượt mà cho cả màu và kích thước */
}

.link:hover {
    color: #7c1f1f;
    transform: scale(1.3); 
}
.choice_link {
    text-decoration: none; /* Xóa gạch chân */
    color: #7c1f1f;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    font-weight: 700;
    margin: 0px 20px;
}

.choice {
    color: #8C0000 !important;
    text-decoration: none; /* Xóa gạch chân */
    font-family: 'Dancing Script', cursive;
    font-size: 34px !important;
    margin: 0px 20px;
}

.calendar-days-of-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px; /* Khoảng cách giữa dòng thứ và dòng ngày */
    gap: 5px; /* Khoảng cách giữa các thẻ thứ */
}

.calendar,.new-class-calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    width: 100vw;
}

.calendar-days-of-week div {
    color: white;
    padding: 15px;
    text-align: center;
    background-color: #C57F7F;
    cursor: pointer;
    gap : 5px;
}
.calendar div,.new-class-calendar div {
    height: 80px;
    padding: 15px;
    text-align: center;
    background-color: #f8dede;
    cursor: pointer;
    display: flex; /* Tạo môi trường flex */
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    font-size: 20px;
}


.calendar .empty ,.new-class-calendar .empty{
    background-color: #f8dede;
    cursor: default;
}

.calendar .selected,.new-class-calendar .selected {
    background-color: #7c1f1f;
    color: white;
}
.calendar .current ,.new-class-calendar .current{
    position: relative;
}




.hamburger {
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-right: 30px;
}

.bar {
    width: 100%;
    height: 5px;
    background-color: black;
    transition: all 0.3s;
}
.menu {
    height: 30px;
    margin: 30px 0 30px 0px;
    font-family: 'Amazon';
    color: #C57F7F;
    font-size: 27px;
    font-family: 'Dancing Script', cursive;
}
.icon_add {
    font-size: 32px;
    height: 40px;
    width: 40px;
    border: 2px solid #C57F7F;
    border-radius: 40px;
    transition: transform 0.3s ease, color 0.3s ease;
}
.icon_add:hover {
    color: #7c1f1f;
    transform: scale(1.5);
}
.menu-panel {
    height: 650px;
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    left: 0;
    width: 200px; /* Đặt chiều rộng menu là 200px */
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border: 1px solid #8C0000;
    border-radius: 8px;

}

.menu-panel div {
    width: 100%; /* Đảm bảo div chiếm toàn bộ chiều rộng của menu */
    text-align: center; /* Căn giữa nội dung bên trong các div */
    display: flex;
    flex-direction: column;
    align-items: center; /* Căn giữa theo chiều dọc */
    flex: 1;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
}
/* Khi menu được mở */
.menu-panel.active {
    display: block;
    width: 300px;
}


/* Khi menu được mở */
.menu-panel.active + .calendar,
.menu-panel.active + .calendar-days-of-week,
.menu-panel.active + .task-container,
.menu-panel.active + .new-class-calendar{
    width: calc(100% - 500px); /* Giảm chiều rộng của calendar, days-of-week và mission */
    transition: width 0.3s ease; /* Hiệu ứng chuyển đổi mượt mà */
}


/* Hamburger khi mở */
.hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Điều chỉnh layout khi menu-panel mở */
#main {
    width: 100%;
}
.main.menu-open,.mission.menu-open {
    margin-left: 350px; /* Khi menu mở, dịch container chính sang phải */
    transition: margin-left 0.3s ease; /* Hiệu ứng trượt sang phải */
    margin-right: 316px;
    width: calc(100% - 100px) !important;
}


/* Khi menu-panel mở, lịch và các ngày trong tuần sẽ bị thu nhỏ */
.calendar, .calendar-days-of-week, .new-class-calendar {
    width: calc(100% - 550px); /* Đảm bảo không bị tràn khi menu mở */
    transition: width 0.3s ease;
}


/* Phong cách cho bảng thêm nhiệm vụ */
.add-panel {
    height: 400px;
    width: 1073px;
    position: absolute;
    top: 300px;
    left: 350px;
    display: none; /* Ban đầu ẩn bảng */
    border: 5px solid #8C0000;
    padding: 20px;
    margin-top: 10px;
    background-color: #fff;
}

.add_container {
    display: flex;
    flex-direction: row;

}
.add_mission, .Note {
    width: 50%; /* Căn mỗi phần chiếm 50% */
    height: 100%;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}
.add_mission {
    border-right: 1px solid #C57F7F; /* Đặt đường viền bên phải cho add_mission */
    display: flex;
    flex-direction: column;
    flex: 1;
}


.misIcon {
    font-size: 25px;
    margin-right: 30px;
}
.add-panel.show {
    display: block; /* Hiển thị bảng khi thêm lớp 'show' */
}
#missionInput{
    width: 100%;
    padding: 5px;
    font-size: 20px;
    border: 0 !important;
    border-bottom: 1px solid #C57F7F;
    outline: none;
}

input {
    border: none;
    font-size: 20px;
    border-bottom: 1px solid #C57F7F;
    outline: none; /* Xóa viền khi nhấp vào */
    font-family: 'Dancing Script', cursive;
}

.addMis {
    margin: 25px 0px 0 20px;
}

.mission {
    width: 98vw;
    font-family: 'Dancing Script', cursive;
    box-sizing: border-box;
    margin: auto;
    
}
.Note {
    display: flex;
    flex-direction: column;
    align-items: center; /* Căn giữa nội dung của phần Note */
    justify-content: center;
}
.noteIcon {
    margin: 0 0 100px 200px;
    position: absolute;
    right: 100px;
}
#wrNote,#taskDetailNoteInput {
    width: 90%;
    height: 50%;
    font-family: 'Dancing Script', cursive;
    box-sizing: border-box;
    margin: 140px;
    padding: 10px;
    resize: vertical; /* Cho phép thay đ��i kích thước theo chiều dọc */
    border: none !important;
    font-weight: 500;
    font-size: 30px;
}

.task-container div,.reminderContainer div {
    height: 30px; /* Chiều cao của div nhiệm vụ */
    margin: 7px 0; /* Căn giữa div */
    padding: 0 10px; /* Thêm khoảng cách 20px hai bên */
    background-color: white; /* Màu nền */
    border: 1px solid #C57F7F;
    border-radius: 100px; /* Bo tròn các góc */
    display: flex; /* Dùng flexbox để căn chỉnh các phần tử */
    align-items: center; /* Căn giữa các phần tử theo chiều dọc */
    justify-content: space-between; /* Căn giữa các phần tử theo chiều ngang */
    cursor: pointer; /* Cho phép chọn nhiệm vụ */
    box-sizing: border-box; /* Đảm bảo padding không làm thay đổi kích thước */
}

.status-indicator {
    width: 20px; /* Kích thước vòng tròn */
    height: 20px; /* Kích thước vòng tròn */
    margin-right: 10px; /* Khoảng cách giữa vòng tròn và tiêu đề */
    display: inline-block; /* Hiển thị vòng tròn */
    border-radius: 50%; /* Làm cho nó thành hình tròn */
    background-color: black; /* Màu sắc mặc định của vòng tròn */
    vertical-align: middle; /* Căn giữa vòng tròn với văn bản */
}

.task-title {
    width: 40%;
    font-size: 24px; /* Kích thước của tiêu đề */
    flex: 1; /* Làm cho tiêu đề chiếm phần còn lại */
}

.task-status {
    font-style: italic;
    color: #7c1f1f; /* Màu sắc cho trạng thái */
    margin-left: 20px; /* Khoảng cách từ tiêu đề đến trạng thái */
    font-size: 24px;
}


.status-indicator {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display: inline-block;
    border-radius: 50%;
    background-color: black;  /* Default black circle */
    vertical-align: middle;  /* Align the indicator with the text */
}

.status-icon {
    vertical-align: middle;
    background-size: contain; /* Đảm bảo hình ảnh không bị biến dạng */
    background-repeat: no-repeat; /* Ngừng việc lặp lại hình ảnh */
    background-position: center; /* Căn giữa hình ảnh trong div */
}

/* Định dạng cho biểu tượng ngôi sao */
.task-item i.fa-star {
    font-size: 20px; /* Kích thước ngôi sao */
    color: #C57F7F;  /* Màu ngôi sao mặc định */
    cursor: pointer;
    margin-left: 10px; /* Khoảng cách giữa ngôi sao và tiêu đề nhiệm vụ */
}

.task-item i.fa-solid.fa-star {
    color: #FFD700; /* Màu vàng cho ngôi sao khi được chọn */
}

.task-detail-panel {
    height: 400px;
    width: 1073px;
    position: absolute;
    top: 300px;
    left: 350px;
    display: none; /* Ban đầu ẩn bảng */
    border: 5px solid #8C0000;
    margin-top: 10px;
    background-color: #fff;
}

.task-detail span {
    display: block;
    margin: 5px 0;
}
.logout {
    height:58%;
    width: 40%;
    background-color: #f8dede;
    position: relative; 
    top: 50px;
    left: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    flex: 1;
    border-radius: 50px;
}
.textOut {
    font-size: 40px;
    margin-top: 100px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
.yesNo {
    display: flex;
    justify-content: space-evenly;
    margin-top: 130px;
}
.textOt {
    text-decoration: none; /* Xóa gạch chân */
    color: black;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    margin: 0px 150px;
}
.bye {
    color: black;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    margin-top: 150px;
}

.progress {
    width: 1200px;
    height: 626px;
    position: relative;
    bottom: 10px;
    left: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.month {
    align-self: flex-start;
}
.his {
    height: 30%;
    display: flex;
    flex-direction: row;
}
img {
    width: 80%;
}
#completedCountContainer,#inProgressCountContainer,#overdueCountContainer{
    background-color: #DAE3F3;
    width: 300px;
    align-items: center;
    margin: 0px 40px 0 40px;
    border-radius: 30px;
}
.completed-count,#inProgressCountContainer div,#overdueCountContainer div  {
    font-size: 24px;
    color: black;
    margin: 30px 50px 0 50px;
    font-family: 'Dancing Script', cursive;
}
.user {
    display: flex;
    flex-direction: column;
}

.avt {
    max-width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 130px;
    margin-top: 50px;
}

.Avt {
    height: 100px;
    width: 100px;
    font-size: 100px;
}
.name {
    margin-left: 50px;
    font-size: 50px;
    color: #7c1f1f;
    font-family: 'Dancing Script', cursive;
}
.atb{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.Atb {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    margin-left: 100px;
    margin-top: 30px;
}
.user_main {
    width: 50%;
    height: 70%;
    background-color: #f8dede;
    position: relative;
    left: 445px;
    top : 50px;
    border-radius: 50px;
}

@media screen and (max-width: 768px) {
    body {
        background-color: #FFEEEF;
    }
    body.menu-open {
        height: 100vh;
        width: 100%;
        max-width: 1531px;
        background-color: white;
        margin: 0;
        overflow: auto;
        overflow-x: hidden; /* Ẩn thanh cuộn ngang */
        box-sizing: border-box;
    }
    
    .header {
        height: 40px;
        background-color: #FFEEEF;
        margin-bottom: 10px;
    }
    
    * {
        box-sizing: border-box;
    }
    
    .nav-button {
        background-color: transparent;  /* Nền trong suốt */
        border: none;
        font-size: 12px;  /* Kích thước dấu < và > */
        color: black;  /* Màu dấu */
        cursor: pointer;
        transition: color 0.3s;
    }
    #monthYear {
        font-size: 11px;
        font-family: 'Dancing Script', cursive;
        width: 120px;
        margin: 0;
    }
    
    .text {
        width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .icon {
        margin-right: 10px;
        font-size: 18px;
    }
    .choice_icon {
        margin-right: 10px;
        font-size: 23px;
    }
    .link {
        text-decoration: none; /* Xóa gạch chân */
        color: black;
        font-family: 'Dancing Script', cursive;
        font-size: 20px;
        margin: 0px 20px;
        transition: transform 0.3s ease, color 0.3s ease; /* Thêm hiệu ứng mượt mà cho cả màu và kích thước */
    }
    
    .link:hover {
        color: #7c1f1f;
        transform: scale(1.3); 
    }
    .choice_link {
        text-decoration: none; /* Xóa gạch chân */
        color: #7c1f1f;
        font-family: 'Dancing Script', cursive;
        font-size: 25px;
        font-weight: 700;
        margin: 0px 20px;
    }
    
    .choice {
        color: #8C0000 !important;
        text-decoration: none; /* Xóa gạch chân */
        font-family: 'Dancing Script', cursive;
        font-size: 22px !important;
        margin: 0px 0px;
    }
    
    .calendar-days-of-week {
        margin-bottom: 5px; /* Khoảng cách giữa dòng thứ và dòng ngày */
        gap: 2px; /* Khoảng cách giữa các thẻ thứ */
    }
    
    .calendar,.new-class-calendar {
        gap: 1px;
    }
    .calendar-days-of-week div {
        width: 48px;
        color: white;
        padding: 10px;
        gap : 5px;
    }
    .calendar div,.new-class-calendar div {
        height: 80px;
        width: 49px;
        font-size: 17px;
    }
    
    
    .calendar .empty ,.new-class-calendar .empty{
        background-color: #f8dede;
        cursor: default;
    }
    
    .calendar .selected,.new-class-calendar .selected {
        background-color: #7c1f1f;
        color: white;
    }
    .calendar .current ,.new-class-calendar .current{
        position: relative;
    }
    
    
    
    
    .hamburger {
        width: 30px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        margin-right: 10px;
    }
    
    .bar {
        width: 100%;
        height: 5px;
        background-color: black;
        transition: all 0.3s;
    }
    .menu {
        height: 30px;
        margin: 20px 0 30px 0px;
        font-family: 'Amazon';
        color: #C57F7F;
        font-size: 20px;
        font-family: 'Dancing Script', cursive;
    }
    .icon_add {
        font-size: 32px;
        height: 40px;
        width: 40px;
        border: 2px solid #C57F7F;
        border-radius: 40px;
        transition: transform 0.3s ease, color 0.3s ease;
    }
    .menu-panel {
        height: 500px;
    }
    
    .menu-panel div {
        width: 100%; /* Đảm bảo div chiếm toàn bộ chiều rộng của menu */
        text-align: center; /* Căn giữa nội dung bên trong các div */
        display: flex;
        flex-direction: column;
        align-items: center; /* Căn giữa theo chiều dọc */
        flex: 1;
        box-sizing: border-box;
        font-family: 'Dancing Script', cursive;
    }
    /* Khi menu được mở */
    .menu-panel.active {
        display: block;
        width: 25%;
    }
    
    
    /* Khi menu được mở */
    .menu-panel.active + .calendar,
    .menu-panel.active + .calendar-days-of-week,
    .menu-panel.active + .task-container,
    .menu-panel.active + .new-class-calendar{
        width: calc(100% - 30%); /* Giảm chiều rộng của calendar, days-of-week và mission */
        transition: width 0.3s ease; /* Hiệu ứng chuyển đổi mượt mà */
    }
    .menu-panel.active + .task-container div {
        width: 90% !important;
        margin-left: 40% !important;
    }
    element.style {
        width: calc(70%);
        margin-left: 40%;
    }
    
    /* Hamburger khi mở */
    .hamburger.active .bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
    
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
    
    /* Điều chỉnh layout khi menu-panel mở */
    #main {
        width: 100%;
    }
    .main.menu-open,.mission.menu-open {
        margin-left: 40%; /* Khi menu mở, dịch container chính sang phải */
        transition: margin-left 0.3s ease; /* Hiệu ứng trượt sang phải */
        margin-right: 0;
        width: calc(100% ) !important;
    }
    
    
    /* Khi menu-panel mở, lịch và các ngày trong tuần sẽ bị thu nhỏ */
    .calendar, .calendar-days-of-week, .new-class-calendar {
        width: calc(100% - 550px); /* Đảm bảo không bị tràn khi menu mở */
        transition: width 0.3s ease;
    }
    
    
    /* Phong cách cho bảng thêm nhiệm vụ */
    .add-panel {
        height: 300px;
        width: 285px;
        position: absolute;
        top: 120px;
        left: 25%;
        display: none; /* Ban đầu ẩn bảng */
        border: 5px solid #8C0000;
        padding: 20px;
        margin-top: 10px;
        background-color: #fff;
    }
    
    .add_container {
        display: flex;
        flex-direction: row;
    
    }
    .add_mission, .Note {
        width: 50%; /* Căn mỗi phần chiếm 50% */
        height: 100%;
        padding: 10px;
        background-color: white;
        display: flex;
        flex-direction: column;
        font-family: 'Dancing Script', cursive;
        font-size: 15px;
    }
    .add_mission {
        border-right: 1px solid #C57F7F; /* Đặt đường viền bên phải cho add_mission */
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    
    
    .misIcon {
        font-size: 10px;
        margin-right: 0px !important;
    }
    .add-panel.show {
        display: block; /* Hiển thị bảng khi thêm lớp 'show' */
    }
    #missionInput{
        width: 100%;
        padding: 5px;
        font-size: 15px;
        border: 0 !important;
        border-bottom: 1px solid #C57F7F;
        outline: none;
    }
    
    input {
        border: none;
        font-size: 10px;
        border-bottom: 1px solid #C57F7F;
        outline: none; /* Xóa viền khi nhấp vào */
        font-family: 'Dancing Script', cursive;
    }
    
    .addMis {
        margin: 10px 0px 0 0px;
    }
    
    .mission {
        width: 98vw;
        font-family: 'Dancing Script', cursive;
        box-sizing: border-box;
        margin: auto;
        
    }
    .Note {
        display: flex;
        flex-direction: column;
        align-items: center; /* Căn giữa nội dung của phần Note */
        justify-content: center;
    }
    .noteIcon {
        margin: 0 0 100px 200px;
        position: absolute;
        right: 100px;
    }
    #wrNote,#taskDetailNoteInput {
        width: 100%;
        height: 100%;
        font-family: 'Dancing Script', cursive;
        box-sizing: border-box;
        margin: 50px 0 0 0;
        padding: 10px;
        resize: vertical; /* Cho phép thay đ��i kích thước theo chiều dọc */
        border: none !important;
        font-weight: 500;
        font-size: 15px;
    }
    
    .task-container div,.reminderContainer div {
        height: 30px; /* Chiều cao của div nhiệm vụ */
        margin: 7px 0; /* Căn giữa div */
        padding: 0 10px; /* Thêm khoảng cách 20px hai bên */
        background-color: white; /* Màu nền */
        border: 1px solid #C57F7F;
        border-radius: 100px; /* Bo tròn các góc */
        display: flex; /* Dùng flexbox để căn chỉnh các phần tử */
        align-items: center; /* Căn giữa các phần tử theo chiều dọc */
        justify-content: space-between; /* Căn giữa các phần tử theo chiều ngang */
        cursor: pointer; /* Cho phép chọn nhiệm vụ */
        box-sizing: border-box; /* Đảm bảo padding không làm thay đổi kích thước */
    }
    
    .status-indicator {
        width: 20px; /* Kích thước vòng tròn */
        height: 20px; /* Kích thước vòng tròn */
        margin-right: 10px; /* Khoảng cách giữa vòng tròn và tiêu đề */
        display: inline-block; /* Hiển thị vòng tròn */
        border-radius: 50%; /* Làm cho nó thành hình tròn */
        background-color: black; /* Màu sắc mặc định của vòng tròn */
        vertical-align: middle; /* Căn giữa vòng tròn với văn bản */
    }
    
    .task-title {
        width: 40%;
        font-size: 18px; /* Kích thước của tiêu đề */
        flex: 1; /* Làm cho tiêu đề chiếm phần còn lại */
    }
    
    .task-status {
        font-style: italic;
        color: #7c1f1f; /* Màu sắc cho trạng thái */
        margin-left: 20px; /* Khoảng cách từ tiêu đề đến trạng thái */
        font-size: 18px;
    }
    
    
    .status-indicator {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        display: inline-block;
        border-radius: 50%;
        background-color: black;  /* Default black circle */
        vertical-align: middle;  /* Align the indicator with the text */
    }
    
    .status-icon {
        vertical-align: middle;
        background-size: contain; /* Đảm bảo hình ảnh không bị biến dạng */
        background-repeat: no-repeat; /* Ngừng việc lặp lại hình ảnh */
        background-position: center; /* Căn giữa hình ảnh trong div */
    }
    
    /* Định dạng cho biểu tượng ngôi sao */
    .task-item i.fa-star {
        font-size: 20px; /* Kích thước ngôi sao */
        color: #C57F7F;  /* Màu ngôi sao mặc định */
        cursor: pointer;
        margin-left: 10px; /* Khoảng cách giữa ngôi sao và tiêu đề nhiệm vụ */
    }
    
    .task-item i.fa-solid.fa-star {
        color: #FFD700; /* Màu vàng cho ngôi sao khi được chọn */
    }
    
    .task-detail-panel {
        height: 320px;
        width: 285px;
        position: fixed;
        top: 150px;
        left: 25%;
        display: none; /* Ban đầu ẩn bảng */
        border: 5px solid #8C0000;
        margin-top: 10px;
        background-color: #fff;
    }
    
    .task-detail span {
        display: block;
        margin: 5px 0;
    }
    .logout {
        height:40%;
        width: 80%;
        background-color: #f8dede;
        position: relative; 
        top: 70px;
        left: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;    
        flex: 1;
        border-radius: 50px;
    }
    .textOut {
        font-size: 30px;
        margin-top: 50px;
        text-align: center;
        font-family: 'Dancing Script', cursive;
    }
    .yesNo {
        display: flex;
        justify-content: space-evenly;
        margin-top: 90px;
    }
    .textOt {
        text-decoration: none; /* Xóa gạch chân */
        color: black;
        font-family: 'Dancing Script', cursive;
        font-size: 30px;
        margin: 0px 50px;
    }
    .bye {
        color: black;
        font-family: 'Dancing Script', cursive;
        font-size: 30px;
        margin-top: 80px;
        margin-left: 20px;
    }
    
    .progress {
        width: 70%;
        height: 70%;
        position: relative;
        bottom: 10px;
        left: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .month {
        align-self: flex-start;
    }
    .his {
        height: 30%;
        display: flex;
        flex-direction: row;
    }
    img {
        margin-top: 15px;
        width: 80%;
    }
    #completedCountContainer,#inProgressCountContainer,#overdueCountContainer{
        background-color: #DAE3F3;
        width: 30%;
        align-items: center;
        margin: 0px 5px 0 5px;
        border-radius: 30px;
    }
    .completed-count,#inProgressCountContainer div,#overdueCountContainer div  {
        font-size: 15px;
        color: black;
        margin: 15px 5px 0 5px;
        font-family: 'Dancing Script', cursive;
    }
    .user {
        display: flex;
        flex-direction: column;
    }
    
    .avt {
        max-width: 100%;
        height: 20%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 40px;
        margin-top: 5px;
    }
    
    .Avt {
        height: 50px;
        width: 50px;
        font-size: 50px;
    }
    .name {
        margin-left: 50px;
        font-size: 30px;
        color: #7c1f1f;
        font-family: 'Dancing Script', cursive;
    }
    .atb{
        display: flex;
        flex-direction: row;
        align-items: center;
    
    }
    .Atb {
        font-family: 'Dancing Script', cursive;
        font-size: 30px;
        margin-left: 40px;
        margin-top: 30px;
    }
    .user_main {
        width:100%;
        height: 70%;
        background-color: #f8dede;
        position: relative;
        left: 0;
        top : 0;
        border-radius: 50px;
    }
}